<div>
  <div class = "container"><p>
Rajasthan is India's largest state by area (342,239 square kilometres (132,139 sq mi) or 10.4% of India's total area). It is located on the north western side of the India, where it comprises most of the wide and inhospitable Thar Desert (also known as the "Rajasthan Desert" and "Great Indian Desert") and shares a border with the Pakistani provinces of Punjab to the northwest and Sindh to the west, along the Sutlej-Indus river valley. Elsewhere it is bordered by five other Indian states: Punjab to the north; Haryana and Uttar Pradesh to the northeast; Madhya Pradesh to the southeast; and Gujarat to the southwest.
</p><p>
  Major features include the ruins of the Indus Valley Civilisation at Kalibanga; the Dilwara Temples, a Jain pilgrimage site at Rajasthan's only hill station, Mount Abu, in the ancient Aravalli mountain range; and, in eastern Rajasthan, the Keoladeo National Park near Bharatpur, a World Heritage Site known for its bird life. Rajasthan is also home to three national tiger reserves, the Ranthambore National Park in Sawai Madhopur, Sariska Tiger Reserve in Alwar and Mukundra Hill Tiger Reserve in Kota.
</p><p>
  The state was formed on 30 March 1949 when Rajputana – the name adopted by the British Raj for its dependencies in the region – was merged into the Dominion of India. Its capital and largest city is Jaipur. Other important cities are Jodhpur, Udaipur, Bikaner, Kota and Ajmer.
</p></div>
  <div class = "container1">
    <img src="../../assets/rajasthan.png" alt="Smiley face" class = "img">
  </div>
</div>
