<div>
  <div class = "container">
    <p>Haryana, is one of the 29 states in India, situated in North India. It was carved out of the former state of East Punjab on 1 November 1966 on a linguistic basis. It stands 21st in terms of its area, which is spread about 44,212 km2 (17,070 sq mi).[1] The city of Chandigarh is its capital while the National Capital Region city of Faridabad is the most populous city of the state and the city of Gurugram is financial hub of NCR with major Fortune 500 companies located in it.[5]
</p>
  <p>Haryana is one of the wealthiest states of India and has the third highest per capita income in the country at ₹119,158 (US$1,900) in the year 2012–13 and ₹132,089 (US$2,100) in the year 2013–14,[6][7] The state is one of the most economically developed regions in South Asia, and its agricultural and manufacturing industries have experienced sustained growth since the 1970s.[8] Since 2000, the state has emerged as the largest recipient of investment per capita in India.[9]
  </p>
  <p>It is bordered by Punjab and Himachal Pradesh to the north, and by Rajasthan to the west and south. The river Yamuna defines its eastern border with Uttar Pradesh. Haryana surrounds the country's capital Delhi on three sides, forming the northern, western and southern borders of Delhi. Consequently, a large area of south Haryana is included in the National Capital Region for purposes of planning and development.</p>
</div>
<div class = "container1">
  <img src="../../assets/haryana.png" alt="Smiley face" class = "img">
</div>
</div>
