<div>
  <div class = "container">
  <p>
  The Punjab, also spelled Panjab (land of "five rivers"; Punjabi: پنجاب‎ (Shahmukhi); ਪੰਜਾਬ (Gurumukhi)), is a geographical and cultural region in the northern part of the Indian subcontinent, comprising areas of eastern Pakistan and northern India. Not being a political unit, the boundaries of the region are ill-defined and focus on historical accounts.
  </p><p>
    Until the Partition of Punjab in 1947, the British Punjab Province encompassed the present-day Indian states of Punjab, Haryana, Himachal Pradesh, Chandigarh, and Delhi, and the Pakistani provinces of Punjab and Islamabad Capital Territory. It bordered the Balochistan and Pashtunistan regions to the west, Kashmir to the north, the Hindi Belt to the east, and Rajasthan and Sindh to the south.
</p><p>
  The people of the Punjab today are called Punjabis, and their principal language is Punjabi. The main religions of the Punjab region are Islam, Sikhism, and Hinduism. Other religious groups are Christianity, Jainism, Zoroastrianism, and Buddhism. The Punjab region has been inhabited by the Indus Valley Civilisation, Indo-Aryan peoples, and Indo-Scythians, and has seen numerous invasions by the Persians, Greeks, Kushans, Ghaznavids, Timurids, Mughals, Pashtuns, British, and others. Historic foreign invasions mainly targeted the most productive central region of the Punjab known as the Majha region, which is also the bedrock of Punjabi culture and traditions.
</p></div>
  <div class = "container1">
    <img src="../../assets/punjab.png" alt="Smiley face" class = "img">
  </div>
</div>
