<div>
  <nav class = "navbar-fixed-top">
  <div class = "upper">
    <img class = "img" src = '../../assets/prokabaddi.png' alt="Pro kabaddi" width = "100%">
  </div>

  <nav class="navbar navbar-inverse">
<div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a >HOME</a></li>
      <li><a >LATEST NEWS</a></li>
      <li><a >PHOTOS</a></li>
      <li><a>FIXTURES</a></li>
      <li><a >STANDING</a></li>
      <li><a >TEAMS</a></li>
      <li><a >STATS</a></li>
      <li><a >MEDIA</a></li>
      <li><a >ABOUT</a></li>
      <li><a >PAST SECTION</a></li>
    </ul>
  <button class = "btn btn-primary">KHEL KABADDI</button>
</div>
  </nav>
</nav>
</div>
<!--
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
-->
