<div >
  <div class = "container">
<p>
  Alwar is a city and administrative headquarters of Alwar District in the Indian state of Rajasthan. It is located around 150 km south of Delhi, and about 150 km north of Jaipur, the capital of Rajasthan. Alwar is part of National Capital Region (NCR). Alwar is a part of the Ahirwal regional.
</p><p>
  Alwar was formerly the capital of the princely state of Alwar which was ruled by kachwaha(Naruka) Rajputs. It was formerly spelt as "Ulwar" in British India. This placed it in last position in alphabetically ordered lists, so a king changed the spelling to "Alwar" to bring it to the top. Alwar is also known by the name "Matsya Nagar".[citation needed] Alwar has most haunted place Bhangarh.
</p>
</div>
<div class = "container1">
  <img src="../../assets/rajasthan.png" alt="Smiley face" class = "img">
</div>
</div>
