<div >
  <div class = "container"><p>
  Rohtak (About this sound listen (help·info)) is a city and the administrative headquarters of the Rohtak district in the Indian state of Haryana. It lies 70 kilometres (43 mi) north west of New Delhi, just 40–45 km from Delhi Border and 250 kilometres (160 mi) south of the state capital Chandigarh on NH 10. Rohtak forms a part of the National Capital Region (NCR), which provides immediate benefits for the district as it can secure loans for infrastructure development at cheaper rates from the NCR Planning Board (NCRPB).[3]
</p><p>
  Rohtak is the sixth most populous city in Haryana as per the 2011 census with population of 374,292 and has literacy rate of 84.08.
</p></div>
  <div class = "container1">
    <img src="../../assets/haryana.png" alt="Smiley face" class = "img">
  </div>
</div>
