<div >
  <div class = "container">
    <p>
  Hisar About this sound pronunciation (help·info) or Hissar, is the administrative headquarters of Hisar district of Hisar division in the state of Haryana in northwestern India. It is located 164 km (102 mi) to the west of New Delhi, India's capital, and has been identified as a counter-magnet city for the National Capital Region to develop as an alternative center of growth to Delhi.
</p><p>
  The city was ruled by several major powers, including the Mauryans in the third century BC, the Tughlaqs in the 14th century, the Mughals in the 16th century, and the British in the 19th century. After India achieved independence, it was unified with the state of Punjab. When the Punjab was divided in 1966, Hisar became part of Haryana.
</p><p>
  The current name was given in 1354 AD, as Hisar-e-Firoza by Firuz Shah Tughlaq, the Sultan of Delhi from 1351 to 1388. The Ghaggar and Drishadvati Rivers once flowed through the city, but they have now changed their course. Hisar has a continental climate, with very hot summers and relatively cool winters. The most commonly spoken languages are Hindi, Haryanvi, and Bagri.
</p>
  </div>
  <div class = "container1">
    <img src="../../assets/haryana.png" alt="Smiley face" class = "img">
  </div>
</div>
