<div >
  <div class = "container"><p>
  Kurukshetra (About this sound pronunciation (help·info)) is a city in the state of Haryana, India. It is also known as Dharmakshetra ("Holy Place"). It is also known as the "Land of Bhagwad Gita". Kurukshetra lies at distance of 160 km from New Delhi and about 80 km from Chandigarh - city with the nearest airport.
</p><p>
  According to the Puranas, Kurukshetra is a region named after King Kuru, the ancestor of Kauravas and Pandavas, as depicted in epic Mahabharata. The importance of the place is attributed to the fact that the Kurukshetra War of the Mahabharata was fought on this land and the Bhagavad Gita was preached here during the war when Lord Krishna found Arjuna in a terrible dilemma.[1] The population of Kurukshetra was 964,655 in 2016.
</p><p>
  Before the establishment of a refugee camp named Kurukshetra in 1947, Thanesar was the name of the tehsil headquarters and the town. Thanesar or Sthaneswar is a historical town located adjacent to what is now the newly created Kurukshetra city. Thanesar derives its name from the word "Sthaneshwar", which means "Place of God". The Sthaneshwar Mahadev Temple, whose presiding deity is Lord Shiva, is believed to be the oldest temple in the vicinity. Local hearsay identifies the legendary "Kurukshetra" with a place near Thanesar. A few kilometers from Kurukshetra is the village known as Amin, where there are remnants of a fort which is believed to be Abhimanyu's.
</p><p>
  In most ancient Hindu texts, Kurukshetra is not a city but a region ("kshetra" meaning "region" in Sanskrit). The boundaries of Kurukshetra correspond roughly to the central and western parts of state of Haryana and southern Punjab. Thus according to the Taittiriya Aranyaka 5.1.1., the Kurukshetra region is south of Turghna (Srughna/Sugh in Sirhind, Punjab), north of Khandava (Delhi and Mewat region), east of Maru (desert) and west of Parin
</p> </div>
  <div class = "container1">
    <img src="../../assets/haryana.png" alt="Smiley face" class = "img">
  </div>
  </div>
