<h1 class = "heading">STANDINGS</h1>
<div class = "row">
  <div class = "col-sm-6">
    <div class = "container">
      <h4 class = "h4 inner1">ZONE A</h4>
    </div>
  </div>
  <div class = "col-sm-6">
    <div class = "container zone">
      <h4 class = "h4 inner2">ZONE B</h4>
    </div>
  </div>
</div>
<div class = "table">
  <div class = "row">
    <div class = "col-sm-6">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Teams</th>
    <th>P</th>
    <th>W</th>
    <th>L</th>
    <th>PTS</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Gujrat</td>
    <td>22</td>
    <td>15</td>
    <td>4</td>
    <td>87</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Puneri paltan</td>
    <td>22</td>
    <td>15</td>
    <td>7</td>
    <td>80</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Haryana</td>
    <td>22</td>
    <td>13</td>
    <td>5</td>
    <td>79</td>
  </tr>
  </tbody>
</table></div>
      <div class = "col-sm-6">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Rank</th>
            <th>Teams</th>
            <th>P</th>
            <th>W</th>
            <th>L</th>
            <th>PTS</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Bengal Warriors</td>
            <td>22</td>
            <td>11</td>
            <td>5</td>
            <td>77</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>patna pirates</td>
            <td>22</td>
            <td>10</td>
            <td>7</td>
            <td>71</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>U.P Yoddha</td>
            <td>22</td>
            <td>8</td>
            <td>10</td>
            <td>60</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
