<h3><p>
  Etawah is a city on the banks of Yamuna River in the state of Uttar Pradesh in India. It is the administrative headquarters of Etawah District. The city was an important center for the Revolt of 1857 (Allan Octavian Hume, the founder of Indian National Congress was district collector then). Also is the place of sangam or confluence between Yamuna and Chambal. It is also the site of the remains of the Great Hedge of India. The noted Hindi writer Gulabrai was a native of Etawah.
</p></h3>
