<div >
  <div class = "container"><p>
  Nagpur is the winter capital, a sprawling metropolis and the third largest city of the Indian state of Maharashtra[11] after Mumbai and Pune. Nagpur is 13th largest city in terms of population in India.[12] It is the largest city of central India and has one of the highest literacy rates, at 91.92%, among all the urban agglomerations in India.[13] It has been proposed as one of the Smart Cities in Maharashtra.[14]
</p><p>
  Nagpur is the seat of the annual winter session of the Maharashtra state assembly, "Vidhan Sabha". It is a major commercial and political centre of the Vidarbha region of Maharashtra. In addition, the city derives political importance from being the headquarters for the Hindu nationalist organisation RSS and an important location for the Dalit Buddhist movement. Nagpur is also known for Deekshabhoomi, the largest hollow stupa among all the Buddhist stupas in the world. Here Dr. B. R. Ambedkar along with nearly 500,000 followers converted to Buddhism in one of the first mass religious conversions in the history of India.
</p><p>
  According to a survey by ABP News-Ipsos, Nagpur has been identified as the best city in India by topping the livability, greenery, public transport, and health care indices.[15][16][17] The city has been adjudged as the 20th cleanest city in India and the top mover in the western zone as per Swachh Sarvekshan 2016.[18]
</p><p>
  It is famous for Nagpur orange and is known as the "Orange City" for being a major trade centre of oranges cultivated in the region.[19] The city was founded in 1703 by the Gonds King Bakht Buland Shah of Deogarh[20] and later became a part of the Maratha Empire under the royal Bhonsale dynasty. The British East India Company took over Nagpur in the 19th century and made it the capital of the Central Provinces and Berar. After the first reorganisation of states, the city lost its status as the capital. Following the informal "Nagpur Pact" between political leaders, it was made the second capital of Maharashtra.
</p></div>
  <div class = "container1">
    <img src="../../assets/maharashtra.png" alt="Smiley face" class = "img">
  </div>
</div>
