<div >
  <div class = "container">
    <p>
  Bikaner (About this sound pronunciation (help·info)) is a city in the northwest of the state of Rajasthan in northern India. It is located 330 kilometres (205 mi) northwest of the state capital, Jaipur. Bikaner city is the administrative headquarters of Bikaner District and Bikaner division.
</p><p>
  Formerly the capital of the princely state of Bikaner, the city was founded by Rao Bika in 1486[1][2][3] and from its small origins it has developed into the fourth largest city in Rajasthan. The Ganges Canal, completed in 1928, and the Indira Gandhi Canal, completed in 1987, facilitated its development.
</p><p>
  The city celebrates its foundation day on Akshaya Tritiya by flying kites and eating special Rajasthani food that includes Bajre Ka Khichda and Imli ka Paani (Tamarind Water) among other snacks. The celebration lasts for two days, known as Chhoti Akha Teej and Badi Akha Teej. People can be seen flying kites during these two days right from the early morning at 5-6am till late sunset. Given the extreme desert weather, standing for long hours under the bright Sun is a torture in itself. Hence, a quick home-made drink like Tamarind Water really helps in controlling body temperature and prevents from heat stroke.
</p></div>
  <div class = "container1">
    <img src="../../assets/rajasthan.png" alt="Smiley face" class = "img">
  </div>
  </div>
