<div >
  <div class = "container"><p>
  Patiala is a city in southeastern Punjab, in northern India. It is the fourth largest city in the state and is the administrative capital of Patiala district. Patiala is located around the Qila Mubarak (the Fortunate Castle). It was constructed by chieftain 'Baba Ala Singh', who founded the royal dynasty of the Patiala State in 1763.
</p><p>
  In popular culture, the city remains famous for its traditional PatialaShahi turban (a type of headgear), paranda (a tasselled tag for braiding hair), patiala salwar (a type of female trousers), jutti (a type of footwear) and Patiala peg (a measure of liquor)
</p>
  </div>
  <div class = "container1">
    <img src="../../assets/punjab.png" alt="Smiley face" class = "img">
  </div>
  </div>
