.main{
  background-color: lightgray;
  width: 104%;
}

.img{
  width: 120%;
}

.container{
  margin-top: 6.8%;
}

#myCarousel{
  margin-top: 2%;
}

.row{
  margin-left: 20%;
  margin-right: 20%;
}

p {
  font-size: large;
}
